{% extends "base.html" %}

{% block content %}

{% if current_user.is_authenticated %}
<meta http-equiv="refresh" content="0; url={{ url_for('profile') }}">
{% endif %}

{% with messages = get_flashed_messages() %}
    {% if messages %}
        {{ messages[0] }}
    {% endif %}
{% endwith %}
<form>
    <input id="usetBox" type="email" name="email" placeholder="Email" autocomplete="off">
    <input id="nameBox" type="text" name="username" placeholder="Name">
    <input id="passBox" type="password" name="password" placeholder="Password" autocomplete="off">
    <button id="btnSignUp" type="button">Sign Up</button>
</form>

<script>
    $(function() {
        $('#btnSignUp').click(function() {
            var body = {
                "email": $('#usetBox').val(),
                "username": $('#nameBox').val(),
                "password": $('#passBox').val()
            };
            $.ajax({
                url: '/signup',
                headers: {
                    "Content-Type": "application/json"
                },
                data: JSON.stringify(body),
                type: 'POST',
                success: function(response) {
                    console.log(response);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });
</script>
{% endblock %}